.contact{
    scroll-margin-top: 6rem;


    .container{

        .contact-content{
            display: flex;
            align-items: center;
            justify-content: center;

            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 400px;
                height: auto;

                .form-content{
                    width: 100%;

                    .form-info{
                        display: flex;
                        flex-direction: column;
                        margin-right: 2rem;
                        width: 100%;

                        input{
                            width: 100%;
                            height: 40px;
                            padding: 10px;
                            border-radius: 5px;
                            outline: none;
                            background: transparent;
                            border: 2px solid #ccc;
                            margin-bottom: 1rem;
                            color: white;
                            font-size: 15px;
                            transition: 200ms ease all;

                            &:focus{
                                border-color: #742929;
                            }

                            &::placeholder{
                                color: #fff;
                                font-weight: 500;
                            }                            
                            
                        }
                    }

                    .form-text{
                        textarea{
                            width: 100%;
                            height: 200px;
                            padding: 10px;
                            border-radius: 5px;
                            outline: none;
                            background: transparent;
                            border: 2px solid #ccc;
                            color: white;
                            font-size: 15px;
                            transition: 200ms ease all;

                            &:focus{
                                border-color: #742929;
                            }

                            &::placeholder{
                                color: #fff;
                                font-weight: 500;
                            }
                        }
                    }
                }

                button{
                    width: 100%;
                    margin: 1rem 0;
                }
            }

            .contact-image{
                @media (max-width: 970px) {
                    display: none;
                    
                }
            }
        }
    }
}
