// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: white;
    overflow-x: hidden;
    background-image: url('../images/bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;

    @media (max-width:1480px){
        padding: 0 2rem;
    }
}

.code{
    color: rgb(223, 88, 88);
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    font-family: "Courgette", sans-serif;
}

.main-header{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1.5rem;

    span{
        margin: .5rem;
        color: rgb(223, 88, 88);
    }

    @media (max-width: 700px) {
        font-size: 3rem !important;
    }
}

.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &::before{
        content: '';
        position: absolute;
        top: 0px;
        left: -50%;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgb(223, 88, 88), transparent);
        z-index: -10;
        transition: 400ms all ease;
    }
    &:hover::before{
        left: 0;
    }
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom,transparent, rgb(223, 88, 88) );
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}